*:not(p, h1) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body[data-theme="light"] {
	--font-color: #222;
	--bg-color: #fff;
	--accent-color: steelblue;
	--nav-color: #eee;
}

body[data-theme="dark"] {
	--font-color: #fff;
	--bg-color: #222;
	--accent-color: #ff0050;
	--nav-color: #444;
}

body {
	color: var(--font-color);
	background-color: var(--bg-color);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	font-size: 1.25rem;
}

a {
	color: inherit;
	opacity: 0.8;
}

button {
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: var(--accent-color);
}
